# Go
# Бинарные файлы
*.exe
*.6
*.so
*.test

# Файлы модулей Go (go mod)
# go.sum включается в коммиты, go.mod тоже
#go.sum
#go.mod

# Операционные файлы
.DS_Store
Thumbs.db

# Логи и временные файлы
*.log
*.tmp

# Настройки VS Code
.vscode/

# Конфигурационные файлы (если они локальные)
config.json