# Игнорируем бинарные файлы
/bin/
/modern-go-app-structure

# Игнорируем файлы зависимостей
/vendor/

# Игнорируем конфигурационные файлы IDE
.idea/
.vscode/
*.swp
*.swo

# Игнорируем временные файлы
*.exe
*.test
*.prof

# Игнорируем файлы окружения
.env

# Игнорируем кэш тестов
/testdata/
